<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME=LANGUAGE_ENCODING>" />
<title>TypePad XP Publish Wizard</title>

<style type="text/css">
body {
	font: message-box;
	margin: 20px;
	padding: 0px;
	color: buttontext;
	background-color: buttonface;
}

.field {
	margin-bottom: 15px;
}

.field .checkbox {
	float: left;
	width: 50px;
}

.field .settings {
	margin-left: 50px;
}

td {
	font: message-box;
}

form {
	padding: 0px;
	margin: 0px;
}

h1 {
	font: normal 32px;
	margin-top: 0px;
	margin-left: 0px;
}

h4 {
	font: normal 16px;
	margin-top: 0px;
	margin-left: 0px;
}

img {
	border: 1px solid #000000;
}
</style>
</head>

<body onContextMenu="event.returnValue=false;">