@charset "utf-8";

/* module calendar */
.calimg {
	height: 60px;
	overflow: hidden;
	display: block;
}

.module-calendar {
	margin: 0px auto 30px;
	width: 100%;
}

.module-calendar h3 {
	font-weight: bold;
	color: #333333;
}

.calendar {
	padding: 2px;
	text-align: center;
	margin: 0px;
	float: none;
}

.calendar table {
	color: #333333;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #CCCCCC;
	border-collapse: separate;
	border-spacing: 1px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.calendar caption {
	color: #CC0000;
	font-size: 85%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.calendar th {
	text-align: center;
	font-weight: normal;
	padding: 2px 1px 1px 2px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: #E1E2E6;
}

.calendar td {
	text-align: center;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	width: 84px;
	height: 60px;
}
/* module calendar end */
